#errornotif {
  margin-top: 8px;
  color: red;
}

#errornotifp {
  margin-top: 8px;
  color: red;
}

#errornotifb {
  margin-top: 8px;
  color: red;
}
/* CSS Document */

#topnav .topbar-main {
    background-color: #002440;
}

#topnav .topbar-main .nav > li > a {
    color: #505458 !important;
}

#topnav .navbar-toggle span {
    background-color: #002440;
}

#topnav .topbar-main .nav > li > a:hover {
    color: #002440 !important;
}

.container {
	max-width: 1200px;
}


.bg-ants {
  background-image: url("../images/stars2.svg");
  min-height: 100vh !important;
  width: 100%;
}

/* Landing Hero */
.hero-header {
  height: 570px;
  width: 100%;
  margin: auto;
  padding: 60px 0px;
  background-image: url("../images/stars2.svg");
}

.hero-header-2 {
  height: 300px;
  width: 100%;
  margin: auto;
  padding: 60px 0px;
  background-image: url("../images/stars2.svg");
}

.hero-header-3 {
  height: 570px;
  width: 100%;
  margin: auto;
  padding: 60px 0px;
  background-image: url("../images/stars2.svg");
}

.hero-header-4 {
  width: 100%;
  margin: auto;
  padding: 60px 0px;
  background-image: url("../images/stars2.svg");
}

.hero-header-2 .col-md-12 {
  margin: 100px 0px;
}

.hero-header .container .col-md-7,
.hero-header-2 .container .col-md-6,
.hero-header-2 .container .col-md-7 {
  margin: 115px 0px;
}

.hero-header .container h1,
.hero-header-2 .container h1 {
  color: #000;
}

.features h1,
.features h2,
.features h3,
.features h4,
.features h5,
.features h6 {
	color: #002440 !important;
}

.features p {
  color: #000000 !important;
}

.features h1 {
  font-size: 60px !important;
}

h1,
h2 {
  color: #000 !important;
}

pre {
    overflow: auto;
}

code,
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    border: 0;
    padding: 45px 40px 28px 90px;
    position: relative;
    color: #6e7b82;
    overflow: hidden;
    line-height: 2em;
    overflow-x: auto;
    background: #fff;
    font-size: 13px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin: 30px 0 20px;
    word-wrap: normal;
}

pre:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #f5f7f9;
    z-index: 1;
    width: 70px;
    border-right: 1px solid #e8e8e8;
}

pre:after {
    content: "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20";
    text-align: right;
    display: block;
    position: absolute;
    left: 22px;
    top: 45px;
    bottom: 48px;
    overflow: hidden;
    width: 17px;
    color: #6e7b82;
    white-space: pre-wrap;
    z-index: 2;
}

pre .text-danger {
    color: #d41226;
}

pre .text-success {
    color: #228722;
}

.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom--reverse:after {
  bottom: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.edge--both {
  position: relative;
  z-index: 1;
}
.edge--both:before, .edge--both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both:before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.edge--both:after {
  bottom: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both--reverse:before {
  top: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.intl-tel-input {
  width: 100%;
}

/* Hero Header */
/*.hero::before {
    content: "";
    background: linear-gradient(180deg,#071137 0,#002440 94%,#053950);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero .cta {
    z-index: 1;
    max-width: 600px;
    margin-top: 108px;
}

.hero {
    min-height: 898px;
    height: calc(100vh - 60px);
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.hero .hero-image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero .hero-image {
    bottom: 0;
    background-size: contain;
    background-position: 50% 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.hero .hero-image.small {
    display: none;
}

@media(max-width: 500px) {
  .hero {
      min-height: inherit;
      height: 100%;
  }

  .hero .cta {
      margin: 40px 20px 0;
      z-index: 4;
  }

  .hero .hero-image.small {
      display: block;
      height: 100vw;
  }

  .hero .hero-image.large {
      display: none;
  }
}*/



























.hero {
    min-height: 898px;
    height: calc(100vh - 60px);
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
}

.hero:before {
    content: "";
    background: linear-gradient(180deg,#071137 0,#002440 94%,#053950);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero .cta {
    z-index: 1;
    margin-top: 108px;
}

.hero h2 {
    color: #fff;
    font-size: 48px;
    line-height: 54px;
    margin: 0;
}

.hero p {
    font-size: 20px;
    max-width: 98%;
    margin: 5px auto 0;
    line-height: 36px;
    color: hsla(0, 0%, 100%, .7);
    font-weight: 300;
}

.hero .hero-image {
    bottom: 0;
    background-size: contain;
    background-position: 50% 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.hero .hero-image.small {
    display: none;
}

.hero .hero-image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width:600px) {
    .hero .cta {
        z-index: 4;
    }
    
    .hero h2 {
        font-size: 36px;
        line-height: 42px;
    }

    .hero .hero-image.small {
        display: block;
        height: 100vw;
    }

    .hero p {
        font-size: 18px;
        line-height: 32px;
        margin-top: 7px;
    }

    .hero .hero-image.large {
      display: none;
  }

  .hero .hero-image-container {
      position: relative;
      margin-top: 26px;
  }

  .hero {
    min-height: inherit;
    height: 100%
  }
}


